<% provide(:title, "Home") %>
<h1>Sample App</h1>
<p>This is the home page for the <a href="http://railstutorial.com"> Ruby on Rais tutorial</a> sample application<p>


<br><a href=static_pages/contact> Contact </a> | <a href=static_pages/help> Help </a>  | <a href=static_pages/about> About </a>
